@font-face {
  font-family: "CentraleSans:Medium";
  src: url("../assets/fonts/CentraleSans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "CentraleSans:Book";
  src: url("../assets/fonts/CentraleSans-Book.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "CentraleSansCnd:Medium";
  src: url("../assets/fonts/CentraleSansCnd-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "CentraleSansDS:Book";
  src: url("../assets/fonts/CentraleSans-Book.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Noto_Sans:Medium";
  src: url("../assets/fonts/NotoSans-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
